/* Responsive UI adjustments. */
.el-numeric-input {
	width: 80px !important;
	max-width: 100% !important;
	box-sizing: border-box;
}

.title.shift {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.latest.title.shift {
	margin-bottom: 0;
}

.legacy.title.shift {
	margin-bottom: 0.1em;
}

.title-left {
	text-align: left;
}
